:root {
    --primaryColor: rgba(182, 11, 0, 0.5);
    --secondaryColor: #D9D9D9;
    --background: white;
    --textColor: #282525;
    --btn: #655A5A;
    --boxShadow: 4px 4px 4px #998E8B;
    --Bradius: 10px;
}