
.main-header {
    height: calc(106px / 2);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--primaryColor);
    z-index: 1;
}

header img {
    width: 6.25rem;
}

.imgbackground{
    background-image: url(/assets/Images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 50%;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5rem;
    height: 2.5rem;
    margin-top: 0.37rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
}

span {
    display: block;
    width: 2.93rem;
    height: 0.37rem;
    background-color: rgba(189, 180, 180, 1);
    border-radius: 1.18rem;
}

.menu ul {
    margin-top: 7px;
    padding: 0;
    height: 250px;
    width: 100%;
    display: none;
    background-color: rgba(182, 11, 0, 0.5);
    z-index: 2;
}

.menu:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

li {
    list-style: none;
}

li:hover {
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-transition-duration: 1S;
    -o-transition-duration: 1S;
    transition-duration: 1S;
}
li:not(:hover){
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: -webkit-transform 1s ease-in;
    -o-transition: transform 1s ease-in;
    transition: transform 1s ease-in;
    transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}

header a {
    color: white;
    font-size: 1.93rem;
}

/*break point 1024px*/
@media screen and (min-width: 1024px) {
    .main-header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: calc(240px / 2);
    }

    header img {
        width: 18.5rem;
        margin-top: 7rem;
    }

    .menu {
        margin-right: 2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .menu:hover ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .button {
        display: none;
    }

    #ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        height: auto;
        background-color: initial;
        width: 40rem;
    }

    li a {
        font-size: 2rem;
        text-decoration: none;
    }
}